.button {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
  }
  
  #grey {
    background-color: grey;
  }
  
  #white {
    background-color: white;
  }
  
  #blue {
    background-color: blue;
  }
  
  #yellow {
    background-color: yellow;
  }
  #purple {
    background-color: purple;
  }
  